.seat {
  width: 45px;
  height: 40px;
  border: none;
  border-radius: 8px;
  font-size: 12px;
}

.seat-available {
  background-color: #198754;
  color: white;
}

.seat-occupied {
  background-color: #dc3545;
  color: white;
}

.seat-selected {
  background-color: #0d6efd;
  color: white;
}

.seat-recommended {
  background-color: #ffc107;
  color: black;
}